<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nodejs: Optimize with Gulp and Brotli</title>
    <link rel="stylesheet" href="/css/styles.min.css" />
    <script src="/js/main.min.js"></script>
  </head>
  <body>
    <h1>Nodejs: Optimize with Gulp and Brotli</h1>
    <div>
      <p>
        Make a custom build pipeline for minifying and compressing your assets
      </p>
      <p id="author">
        <a
          href="https://medium.com/@haseebanwar99"
          target="_blank"
          rel="noreferrer noopener"
        >
          Haseeb Anwar
        </a>
      </p>
    </div>
  </body>
</html>
